<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
    <title>Edit User</title>

    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<form method="post" accept-charset="UTF-8">
    <p>Name</p>
    <p><input type="text" name="username" th:value="${user.username}"> </p>
    <p>email</p>
    <p><input type="text" name="email" th:value="${user.email}"></p>
    <p>Maxweight</p>
    <p><input type="text" name="maxweight" th:value="${user.maxweight}"></p>
    <p><input type="submit" value="edit"></p>
</form>
</div>
</body>
</html>